
*.zip
.metadata/.plugins/org.eclipse.core.resources/.history/1/4004b54434f4001718b5cc6822db2078
.metadata/.plugins/org.eclipse.core.resources/.history/28/500dba4434f4001718b5cc6822db2078
.metadata/.plugins/org.eclipse.core.resources/.history/33/50efbe4434f4001718b5cc6822db2078
.metadata/.plugins/org.eclipse.core.resources/.history/29/d0f2b34434f4001718b5cc6822db2078
.metadata/.plugins/org.eclipse.core.resources/.history/33/d0d4b84434f4001718b5cc6822db2078
.metadata/.plugins/org.eclipse.core.resources/.history/33/70409c1c2cf4001718b5cc6822db2078
.metadata/.plugins/org.eclipse.core.resources/.history/53/2027b74434f4001718b5cc6822db2078
.metadata/.plugins/org.eclipse.core.resources/.history/35/a05fb84434f4001718b5cc6822db2078
.metadata/.plugins/org.eclipse.core.resources/.history/5c/60a5bc4434f4001718b5cc6822db2078
.metadata/.plugins/org.eclipse.core.resources/.history/5c/30a1be4434f4001718b5cc6822db2078
*.txt
.metadata/.plugins/org.eclipse.core.resources/.history/5c/a0eeb54434f4001718b5cc6822db2078
.metadata/.plugins/org.eclipse.core.resources/.history/61/30bfb94434f4001718b5cc6822db2078
.metadata/.plugins/org.eclipse.core.resources/.history/62/f093bb4434f4001718b5cc6822db2078
.metadata/.plugins/org.eclipse.core.resources/.history/66/a047842a2cf4001718b5cc6822db2078
*.index
*.resources
*.tii
*.gen
*.dat
*.xml
*.png
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
*.json
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_2
*.tis
*.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_5
.metadata/.plugins/org.eclipse.m2e.core/nexus/c1adc07b1e25107d5817c36fde9c87eb/segments_1o
.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
*.lock
*.properties
*.mark
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.rse.ui/.log
*.js
.metadata/.plugins/org.tigris.subversion.subclipse.core/.svnProviderState
.metadata/.plugins/org.eclipse.rse.core/.log
*.properties
*.prefs
*.xmi
*.fdt
*.fdx
*.fnm
*.frq
*.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments_1
*.prx
*.history
*.lifecyclemapping
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_2
*.container
*.del
*.setup
*.log
*.ini
RemoteSystemsTempFiles/.project
*.properties
.metadata/.plugins/org.eclipse.team.core/.cache/org.tigris.subversion.subclipse.core/0
*.properties
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_4
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_c
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/timestamp
.metadata/.plugins/org.eclipse.m2e.core/nexus/9c464863141ed8d4ab3556cf15ba66bf/segments_4
.metadata/.plugins/org.eclipse.m2e.core/nexus/b335033d60d0db4f3e96d4313512f01c/segments_4
.metadata/.plugins/org.eclipse.m2e.core/nexus/c1adc07b1e25107d5817c36fde9c87eb/segments_1q
.metadata/.plugins/org.eclipse.m2e.core/nexus/f2ca0c0de6a30637e566ed4489cd8b50/segments_2e
*.ser
*.RELEASE
.metadata/.plugins/org.springframework.ide.eclipse.beans.core.metadata/metadata/.state
.metadata/.plugins/org.springframework.ide.eclipse.aop.core/.state
.metadata/.plugins/org.springframework.ide.eclipse.beans.core.metadata/properties/.state
*.css
*.woff
*.gif
*.html
*.lst
*.properties
