
.metadata/.lock
*.index
*.zip
*.snap
*.properties
*.resources
*.prefs
*.xmi
*.fdt
*.fdx
*.fnm
*.frq
*.nrm
*.tii
*.tis
*.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments_1
*.lock
*.prx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_2
*.json
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
*.txt
*.dat
*.xml
*.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_4
*.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/c1adc07b1e25107d5817c36fde9c87eb/segments_1f
*.container
*.log
*.setup
*.mark
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
*.js
.metadata/.plugins/org.tigris.subversion.subclipse.core/.svnProviderState
*.ini
*.properties
*.properties
*.png
*.history
*.lifecyclemapping
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_5
.metadata/.plugins/org.eclipse.m2e.core/nexus/c1adc07b1e25107d5817c36fde9c87eb/segments_1o
